@charset "utf-8";

.main{
  margin-top: 90px;
}

.main h2{
  margin-top: 50px;
  padding: 10px ;
  color: #fff100;
  font-size: 25px;
  display: inline-block;
}

.login{
  margin-top: 50px;
  text-align: center;
}

form{
  margin-top: 25px;
}

@media (max-width: 767px){

.main{
  /* margin-top: 90px; */
  padding-top: 0px;
  margin-top: 60px;
}
}